@model First_MVC_App.Models.DogViewModel;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>This is the newest component of the app</h1>
<p>Challenge accepted</p>
<h4>A dog named @Model.Name is @Model.Age years old</h4>